/*body{

    background-color:  rgba(44, 18, 104, 0.8)
}
#profile_image{
        border: 2px dotted black;

}

.layout{


}
.layout{
             
        color:#f8f5f2;
        font-family: 'fantasy';
        font-display: 
}

table tr:first-child{
            background-color : rgba(250,250,250,0.8)
}
*/

.yash-header {
  text-align: center;
  background-color: white;
  background:"assets/bg.jpg"
}

.profile-pic {
  border-radius: 50%;
}

.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:red;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}
